# Python
__pycache__*
# MacOps
.DS_Store
# environment
.env
.git

# virtual environment
venv/

# Development
models
weights
weights_tf
models_tf
models_sd
.ipynb_checkpoints
deb
*plan
*onnx
*pt
*pth
inference_notebook
